<!DOCTYPE html>
<html lang="en" prefix="og: http://ogp.me/ns#">
  <head>
    <meta charset="utf-8"/>
    <title>{{ page.title }}</title>
	<meta content="{{ page.title }}" property="og:title">
    <meta name="description" content="On the 13th and 14th of May 2013, 100 enthusiasts will gather in Oslo, Norway – for 2 days of Scala and functional programming on the JVM"/>
	<meta property="og:description" content="On the 13th and 14th of May 2013, 100 enthusiasts will gather in Oslo, Norway – for 2 days of Scala and functional programming on the JVM">
	<meta property="og:image" content="http://www.flatmap.no/m/flatmap_identity.png">
	<meta name="twitter:site" content="@flatmaposlo">
	<meta name="twitter:card" content="summary">
    <meta name="author" content="Bodil"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1"/>
    <link href="/articles/atom.xml" rel="alternate" title="Giga Bodil" type="application/atom-xml"/>
    <link rel="stylesheet" href="/c/screen.css" media="screen"/>
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
  </head>

  <body>
    <div id="header">
      <div class="container">
        <h1>
          <span class="logo"><i class="icon-reorder"></i></span><span class="func">flatMap(Oslo)</span>
        </h1>
        <p>
          <span class="func">13 &ndash;14 May 2013</span>
        </p>
      </div>
    </div>
