<div class="row">
  <div class="span12">
    <table class="schedule">
      <tbody>
        <tr>
          <th></th>
          <th>Monday Track 1</th>
          <th>Monday Track 2</th>
          <th>Tuesday Track 1</th>
          <th>Tuesday Track 2</th>
        </tr>
        <tr>
          <th>08:00–08:45</th>
          <td colspan="2" class="interlude">Registration & breakfast</td>
          <td colspan="2" rowspan="2" class="interlude">Breakfast</td>
        </tr>
        <tr>
          <th>08:45–09:00</th>
          <td colspan="2">Announcements</td>
        </tr>
        <tr>
          <th>09:00–10:00</th>
          <td colspan="2" class="keynote">
            <a href="/spiewak.html">
              <h3>Keynote</h3>
              <div class="speaker">Daniel Spiewak</div>
              <div class="talk">Living in a Post-Functional World</div>
            </a>
          </td>
          <td colspan="2" class="keynote">
            <a href="/danwill.html">
              <h3>Keynote</h3>
              <div class="speaker">Daniel Friedman & William Byrd</div>
              <div class="talk">TBD</div>
            </a>
          </td>
        </tr>
        <tr>
          <th>10:10–10:50</th>
          <td>
            <a href="/vraalsen.html">
              <div class="speaker">Fredrik Vraalsen</div>
              <div class="talk">Java 8 to the rescue!?</div>
            </a>
          </td>
          <td>
            <a href="/lawley.html">
              <div class="speaker">Ross Lawley</div>
              <div class="talk">From Dynamic to Static in a functional way</div>
            </a>
          </td>
          <td>
            <a href="/blakstad.html">
              <div class="speaker">Kåre Blakstad</div>
              <div class="talk">Building a Scala REST API—adaptation and experiences</div>
            </a>
          </td>
          <td>
            <a href="/tbd.html">
              <div class="speaker">TBD</div>
            </a>
          </td>
        </tr>
        <tr>
          <th>10:50–11:20</th>
          <td colspan="2" class="interlude">Break</td>
          <td colspan="2" class="interlude">Break</td>
        </tr>
        <tr>
          <th>11:20–12:00</th>
          <td>
            <a href="/bodil.html">
              <div class="speaker">Bodil Stokke</div>
              <div class="talk">What Every Hipster Should Know About Functional Programming</div>
            </a>
          </td>
          <td rowspan="2" class="workshop">
            <a href="/tbd.html">
              <div class="speaker">Morten Andersen-Gott & Jon-Anders Teigen</div>
              <div class="talk">Scala Intro</div>
            </a>
          </td>
          <td>
            <a href="/teigen.html">
              <div class="speaker">Jon-Anders Teigen</div>
              <div class="talk">TBD</div>
            </a>
          </td>
          <td rowspan="2" class="workshop">
            <a href="/westheide.html">
              <div class="speaker">Daniel Westheide</div>
              <div class="talk">Event Sourcing for Functional Programmers</div>
            </a>
          </td>
        </tr>
        <tr>
          <th>12:10–12:50</th>
          <td>
            <a href="/zaugg.html">
              <div class="speaker">Jason Zaugg</div>
              <div class="talk">What's new in Scala 2.10?</div>
            </a>
          </td>
          <td>
            <a href="/hamblen.html">
              <div class="speaker">Nathan Hamblen</div>
              <div class="talk">Sketching in Scala Notebook</div>
            </a>
          </td>
        </tr>
        <tr>
          <th>12:50–13:50</th>
          <td colspan="2" class="interlude">Lunch</td>
          <td colspan="2" class="interlude">Lunch</td>
        </tr>
        <tr>
          <th>13:50–14:30</th>
          <td>
            <a href="/sabin.html">
              <div class="speaker">Miles Sabin</div>
              <div class="talk">Shapeless TBD</div>
            </a>
          </td>
          <td rowspan="2" class="workshop">
            <a href="/spiewak.html">
              <div class="speaker">Daniel Spiewak</div>
              <div class="talk">TBD</div>
            </a>
          </td>
          <td>
            <a href="/lilleaas.html">
              <div class="speaker">August Lilleaas</div>
              <div class="talk">WTF is Datomic?</div>
            </a>
          </td>
          <td rowspan="2" class="workshop">
            <a href="/zaugg.html">
              <div class="speaker">Jason Zaugg</div>
              <div class="talk">Welcome to (Macro) Paradise</div>
            </a>
          </td>
        </tr>
        <tr>
          <th>14:40–15:20</th>
          <td>
            <a href="/follesoe.html">
              <div class="speaker">Jonas Follesø</div>
              <div class="talk">F# Type Providers</div>
            </a>
          </td>
          <td>
            <a href="/waaler.html">
              <div class="speaker">Eivind Waaler</div>
              <div class="talk">From Grid to Akka!</div>
            </a>
          </td>
        </tr>
        <tr>
          <th>15:20–15:50</th>
          <td colspan="2" class="interlude">Break</td>
          <td colspan="2" class="interlude">Break</td>
        </tr>
        <tr>
          <th>15:50–16:30</th>
          <td>
            <a href="/bakstad.html">
              <div class="speaker">Erik Bakstad</div>
              <div class="talk">Composable Abstractions in Clojure</div>
            </a>
          </td>
          <td rowspan="2" class="workshop">
            <a href="/sabin.html">
              <div class="speaker">Miles Sabin</div>
              <div class="talk">Shapeless</div>
            </a>
          </td>
          <td>
            <a href="/klang.html">
              <div class="speaker">Viktor Klang</div>
              <div class="talk">Distributed Reactive Programming: Introducing Akka 2.2</div>
            </a>
          </td>
          <td rowspan="2" class="workshop">
            <a href="/hamblen.html">
              <div class="speaker">Nathan Hamblen & Jon-Anders Teigen</div>
              <div class="talk">Setting HTTP Free with Unfiltered and Dispatch</div>
            </a>
          </td>
        </tr>
        <tr>
          <th>16:40–17:20</th>
          <td>
            <a href="/einarjonas.html">
              <div class="speaker">Einar Høst & Jonas Winje</div>
              <div class="talk">Practical Lambda Calculus</div>
            </a>
          </td>
          <td>
            <a href="/simen.html">
              <div class="speaker">Simen Fure Jørgensen</div>
              <div class="talk">Economies of Scala</div>
            </a>
          </td>
        </tr>
        <tr>
          <th>17:20–</th>
          <td colspan="2" class="interlude">Dinner & party</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
