<div class="page-header">
  <h1>Sponsors <small>making it possible</small></h1>
</div>

<div class="row">
  <div class="span4">
    <a href="http://www.conax.no"><img src="/m/sponsors/conax.png" alt="Conax"/></a>
  </div>
  <div class="span4">
    <a href="http://arktekk.no/"><img src="/m/sponsors/arktekk.png" alt="Arktekk"/></a>
  </div>
  <div class="span4">
    <a href="http://www.finn.no/"><img src="/m/sponsors/FINN.png" alt="FINN"/></a>
  </div>
</div>
<div class="row">
  <div class="span4">
    <a href="http://www.miles.no"><img src="/m/sponsors/miles.png" alt="Miles"/></a>
  </div>
  <div class="span4">
    <a href="http://www.bekk.no"><img src="/m/sponsors/bekk.png" alt="BEKK"/></a>
  </div>
  <div class="span4">
    <a href="http://www.iterate.no"><img src="/m/sponsors/iterate.png" alt="Iterate"/></a>
  </div>
</div>

