<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <title>{{ page.title }}</title>
    <meta name="description" content="Bodil"/>
    <meta name="author" content="Bodil"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1"/>
    <link href="/articles/atom.xml" rel="alternate" title="Giga Bodil" type="application/atom-xml"/>
    <link rel="stylesheet" href="/c/screen.css" media="screen"/>
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
  </head>

  <body>
    <div id="header">
      <div class="container">
        <h1>
          <span class="logo"><i class="icon-reorder"></i></span><span class="func">flatMap</span><span class="paren">(</span><span class="var">Oslo</span><span class="paren">)</span>
        </h1>
        <p>
          <span class="num">13</span><span class="op">&ndash;</span><span class="num">14</span>
          <span class="var">May</span>
          <span class="num">2013</span>
        </p>
      </div>
    </div>
    <div class="container" id="body">
      {{ content }}
    </div>
    <script type="text/javascript" src="/j/app.js"></script>
  </body>
</html>
